// Чекбоксы на странице с заполнением формы

.achievement {
  @include mobile-size;
  background-color: $gray-color;
  box-sizing: border-box;
  order: -9;
}

.achievement__section {
  border: none;
  padding-bottom: 0;
}

.achievement__title {
  @include style-description;
  padding: 37px 30px;
  // padding-bottom: 0;
  text-align: center;
}

.achievement__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.achievement__item {
  margin-bottom: 52px;
  padding-left: 70px;

  position: relative;
  display: block;

  // cursor: pointer;
  user-select: none;
}

// чекбокс

.achievement__input {
  @include visually-hidden;
}

.achievement__label {
  display: block;
  position: relative;
}

.achievement__input-checkbox + .achievement__label {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;

    width: 31px;
    height: 31px;

    // top: 0px;
    left: -64px;

    border: 2px solid #e5e5e5;
    background-color: $white-color;
  }
}

.achievement__input-checkbox + .achievement__label:hover,
.achievement__input-checkbox + .achievement__label:focus {
  &::before {
    @include input-form-hover;
  }
}

.achievement__input-checkbox + .achievement__label:active {
  &::before {
    @include input-form-active;
  }
}

.achievement__input-checkbox:checked + .achievement__label {
  &::after {
    content: "";
    position: absolute;

    width: 22px;
    height: 16px;

    top: 9px;
    left: -57px;

    background-image: url("../img/icon-yes-check.svg");
    background-repeat: no-repeat;
  }
}


@media (min-width: $tablet-width) {
  .achievement {
    @include tablet-size;
    background-color: #ffffff;
    padding: 0 20px;
    order: -6;
  }

  .achievement__section {
    @include style-border-fieldset;
    margin-bottom: 48px;
  }

  .achievement__title {
    @include style-title-legend;
    margin: 0 auto;
  }

  .achievement__inner {
    margin-top: 35px;
  }

  .achievement__item {
    padding-left: 108px;
    margin-bottom: 52px;
  }

  // .achievement__item:nth-child(3) {
  //   margin-bottom: 60px;
  // }
}

@media (min-width: $desktop-width) {
  .achievement {
    @include desktop-size;
    padding: 0;
  }

  .achievement__section {
    padding-right: 0;
    padding-left: 0;
  }

  .achievement__title {
    margin-bottom: 30px;
  }

  .achievement__inner {
    padding: 0 56px 5px;
    margin-top: 1px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .achievement__item {
    padding-left: 64px;
    margin-bottom: 55px;
  }
}
