// Чекбоксы на странице с заполнением формы

.achievement {
  width: 100%;
  background-color: $gray-color;
  box-sizing: border-box;
  order: -9;
}

.achievement__section {
  @include mobile-size;
  border: none;
  padding-bottom: 0;
}

.achievement__title {
  @include style-description;
  padding: 38px 30px;
  // padding-bottom: 0;
  text-align: center;
}

.achievement__inner {
  padding: 0;
  margin: 0;
}

.achievement__list {
  list-style: none;
}

.achievement__item {
  margin-bottom: 52px;
  padding-left: 75px;

  position: relative;
  display: block;

  // cursor: pointer;
  user-select: none;
}

// чекбокс

.achievement__input {
  @include visually-hidden;
}

.achievement__label {
  display: block;
  position: relative;
}

.achievement__input-checkbox + .achievement__label {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;

    width: 34px;
    height: 34px;

    top: -3px;
    left: -68px;

    border: 2px solid #e5e5e5;
    background-color: $white-color;
  }
}

.achievement__input-checkbox:focus + .achievement__label {
  &::before {
    outline: $color-element auto 3px;
    outline-style: solid;
  }
}

.achievement__input-checkbox + .achievement__label:hover,
.achievement__input-checkbox + .achievement__label:focus {
  &::before {
    @include input-form-hover;
  }
}

.achievement__input-checkbox + .achievement__label:focus {
  outline: 1px;
}

.achievement__input-checkbox + .achievement__label:active {
  &::before {
    @include input-form-active;
  }
}

.achievement__input-checkbox:checked + .achievement__label {
  &::after {
    content: "";
    position: absolute;

    width: 22px;
    height: 16px;

    top: 7px;
    left: -58px;

    background-image: url("../img/icon-yes-check.svg");
    background-repeat: no-repeat;
  }
}

// .achievement__input-checkbox:disabled + .disable,
// .achievement__input-checkbox:disabled + .disabled::before {
//   opacity: 0.3;
// }

@media (min-width: $tablet-width) {
  .achievement {
    @include tablet-size;
    background-color: #ffffff;
    padding: 0 20px;
    order: -6;
  }

  .achievement__section {
    width: 100%;

    @include style-border-fieldset;
    margin-bottom: 27px;
  }

  .achievement__title {
    @include style-title-legend;
    margin: 0 auto;
  }

  .achievement__inner {
    margin-top: 35px;
  }

  .achievement__item {
    padding-left: 105px;
    margin-bottom: 52px;
  }

  .achievement__input-checkbox + .achievement__label {
    &::before {
      left: -60px;
    }
  }

  .achievement__input-checkbox:checked + .achievement__label {
    &::after {
      left: -52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement {
    @include desktop-size;
    padding: 0;
  }

  .achievement__section {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 44px;
  }

  .achievement__title {
    margin-bottom: 30px;
  }

  .achievement__inner {
    padding: 0 64px 5px;
    margin-top: 1px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .achievement__item {
    padding-left: 50px;
    margin-bottom: 55px;
  }

  .achievement__input-checkbox + .achievement__label {
    &::before {
      left: -56px;
    }
  }

  .achievement__input-checkbox:checked + .achievement__label {
    &::after {
      left: -49px;
    }
  }
}
