.advantages {

}

.advantages__heading {
  @include visually-hidden
}

.advantages__mobil-screen {
  display: block;
  margin: 0 auto;
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 85px;

  list-style: none;
  background-color: $gray-color;

  &::before {
    content: "";
    position: absolute;

    top: 0px;
    left: 0px;
    background-image: url(../../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
  }
}

.advantages__item {
  margin: 0 30px;
  text-align: center;
  padding-bottom: 40px;
}

.advantages__slogan,
.advantages__flag {
  @include heading-style
  text-align: center;
  padding-bottom: 30px;
}

.advantages__title,
.advantages__description {
  margin: 0;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 15px;
}

// .advantages__description {

// }



@media (min-width: $mobile-width) {

}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
