// .advantages {

// }

.advantages__list {
  list-style: none;
  background-color: $gray-color;
}

// .advantages__item {

// }

// .advantages__slogan,
// .advantages__flag {
//   font-weight: 300;
// }

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

// .advantages__description {

// }
