.advantages {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: content-box;
}

.advantages__heading {
  @include visually-hidden;
}

.advantages__slogan,
.advantages__flag {
  display: block;
  text-align: center;
  z-index: 1;

  @include heading-style;
}

.advantages__slogan {
  margin: 40px 40px 30px 40px;
}

.advantages__flag {
  margin-bottom: 30px;
}

.advantages__section {
  // width: 100%;
  margin: 0 auto;
  background-color: $gray-color;
  box-sizing: border-box;
  // overflow-x: inherit;
  // position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   margin: 0 auto;
  //   // overflow-x: hidden;;

  //   min-width: 1200px;
  //   height: 95px;

  //   top: -1px;
  //   left: -1px;

  //   background-image: url("../img/bg-triangle-white.svg");
  //   background-repeat: no-repeat;
  // }
}

.advantages__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.advantages__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  order: 1;
}

.advantages__mobil-screen {
  display: none;
  z-index: 1;
}

.advantages__mobil-screen--on-mobile {
  display: block;
}

.advantages__list {
  max-width: 1200px;
  list-style: none;
  margin: 0 auto;
  padding: 80px 20px 35px 20px;
}

.advantages__item {
  width: 280px;
  text-align: center;
  padding: 0 10px 30px 10px;
}

.advantages__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.advantages__title,
.advantages__description {
  margin: 0;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 13px;
}

.advantages__description {
  color: $main-color;
}


@media (min-width: $tablet-width) {
  .advantages {
    min-width: 640px;
  }

  .advantages__slogan,
  .advantages__flag {
    @include heading-style-medium;
    text-align: center;
    z-index: 1;
  }

  .advantages__slogan {
    margin-top: 48px;
    margin-bottom: 0;
  }

  .advantages__flag {
    margin-top: 0;
  }

  .advantages__container {
    width: 660px;
    flex-direction: row;
    margin: 0 auto;
  }

  .advantages__wrapper {
    // width: 265px;
    // width: 44%;
    order: 0;
    justify-content: flex-end;
    padding: 20px 10px 0 20px;
  }

  .advantages__mobil-screen {
    align-self: flex-end;
  }

  .advantages__list {
    // width: 312px;
    // width: 56%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 70px 10px 25px 0px;
    padding-top: 70px;
  }

  .advantages__item {
    width: 322px;
    text-align: left;
    padding-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    min-width: 1000px;
  }

  .advantages__slogan,
  .advantages__flag {
    text-align: center;

    @include heading-style-large;
  }

  .advantages__slogan {
    margin-top: 65px;
  }

  .advantages__flag {
    margin-bottom: 75px;
  }

  .advantages__container {
    width: 960px;
    flex-wrap: wrap;
  }

  .advantages__wrapper {
    width: 1200px;
    padding: 0 15px 20px 15px;
    // padding: 18px 15px 20px 15px;
    justify-content: space-between;
    // justify-content: space-around;
  }

  .advantages__mobil-screen {
    display: block;
  }

  .advantages__list {
    width: 100%;
    padding: 37px 30px;
    display: flex;
    flex-direction: row;
    padding-top: 38px;
    // padding: 0 15px 20px 15px;
    justify-content: space-between;
  }

  .advantages__item {
    text-align: center;
    width: 250px;
  }

  .advantages__title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 25px;
    color: $color-title-addvantages;
  }

  .advantages__description {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
