.app {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $main-color;
}

.app__head-title {
  @include visually-hidden;
  margin: 0;
}

.app__header {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__image-wrapper {
  width: 100%;
  height: 461px;

  display: flex;
  align-items: flex-end;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 638px auto;
  }
}

.app__image-content {
  @include mobile-size;
}


.app__title {
  display: none;
  width: 220px;
  color: $white-color;
  margin: 0 auto;
  padding: 0;
}

.app__device {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-color-dark;
  padding-top: 33px;
  padding-bottom: 30px;
}

.app__btn-device {
  width: 283px;
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;

  padding: 13px;
  margin: 0 auto;
  margin-bottom: 31px;

  border: 2px solid #ffffff;
  border-radius: 30px;
  background: none;

  &:hover,
  &:focus {
    color: $color-element;
    background: $white-color;
  }

  &:active {
    color: $active-color-element;
    background: $white-color;
  }
}

.app__download {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.app__text {
  color: $white-color;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

.app__platform {
  margin: 0 16px;
}

.app__application-name {
  @include visually-hidden;
}

@media (min-width: $tablet-width) {
  .app {
    height: 727px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .app__header {
    @include tablet-size;
    height: 727px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
  }

  .app__image-wrapper {
    content: "";
    display: block;
    position: absolute;
    width: 700px;
    height: 545px;

    bottom: 0;
    right: -20px;
    background: none;
  }

  .app__image-content {
    width: 100%;
  }

  .app__device {
    width: 300px;
    display: flex;
    background: none;
    margin-bottom: 80px;
    z-index: 1;
  }

  .app__title {
    display: block;
    width: 220px;
    text-align: center;

    @include heading-style-medium;
  }

  .app__btn-device {
    width: 300px;
    padding: 13px 0;
    margin-top: 30px;
    margin-bottom: 47px;
  }

  .app__download {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .app__text {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .app {
    height: 865px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .app__header {
    width: 955px;
    height: 865px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
    // margin-left: 104px;

    justify-content: flex-end;
  }

  .app__image-wrapper {
    width: 1053px;
    height: 645px;
    right: -123px;
  }

  .app__device {
    // margin-left: 26px;
    margin-bottom: 123px;
    padding-bottom: 0;
    background-color: transparent;
  }

  .app__title {
    display: block;

    @include heading-style-large;
    width: auto;
    text-align: center;
    // margin-left: 35px;
  }

  .app__btn-device {
    width: 300px;
    font-size: 21px;
    margin: 53px 0 65px;
  }

  .app__download {
    padding-bottom: 50px;
  }
}
