.app {
  background-color: $main-color;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: contain;

  overflow: hidden;

  z-index: -1;
}

.app__head-title {
  @include visually-hidden;
  margin: 0;
}

.app__header {
  // width: 320px;
  padding-top: 110px;
  margin: 0 auto;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Внимание, картинка на мобильном разрешении прыгает. После посмотреть что не так

.app__image {
  display: block;
  margin: 0 auto;
  // width: 100%;
}

.app__title {
  display: none;
  width: 220px;
  color: $white-color;
  margin: 0 auto;
  padding: 0;
}

.app__device {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-color;
  padding-top: 28px;
  padding-bottom: 30px;
  z-index: 1;
}

.app__btn-device {
  width: 250px;
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;

  padding: 13px;
  margin: 0 auto;
  margin-bottom: 31px;

  border: 2px solid #ffffff;
  border-radius: 30px;
  background: none;

  &:hover,
  &:focus {
    color: $color-element;
    background: $white-color;
  }

  &:active {
    color: $active-color-element;
    background: $white-color;
  }
}

.app__download {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  // width: 200px;
}

.app__text {
  color: $white-color;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

.app__platform {
  margin: 0 16px;
}

.app__application-name {
  @include visually-hidden;
}

@media (min-width: $tablet-width) {
  .app {
    // max-width: 960px;
    margin: 0 auto;
    // top: -111px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;
  }

  .app__header {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 20px;

    width: 660px;
    min-height: 617px; /*По макету 660px*/
    position: relative;
  }

  .app__image {
    content: "";
    display: block;
    position: absolute;
    width: 700px;
    height: 545px;

    // bottom: 24px;
    left: 20%;
  }

  .app__device {
    width: 350px;
    display: flex;
    // justify-content: center;
    background: none;

    padding-bottom: 0;
    margin-bottom: 110px;
    z-index: 1;
    box-sizing: content-box;
  }

  .app__title {
    display: block;
    width: 220px;
    text-align: center;

    @include heading-style-medium;
  }

  .app__btn-device {
    width: 269px;
    padding: 13px;
    margin-top: 30px;
    margin-bottom: 47px;
  }

  .app__download {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .app__text {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .app {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    top: -1px;
  }

  .app__header {
    width: 1200px;
    min-height: 865px;
    margin: 0 10px;
    margin-left: 104px;

    justify-content: flex-end;
  }

  .app__image {
    width: 1050px;
    height: 645px;
  }

  .app__device {
    // box-sizing: content-box;
    background-color: none;
    margin-bottom: 123px;
  }

  .app__title {
    display: block;

    @include heading-style-large;
    text-align: center;
  }

  .app__btn-device {
    width: 270px;
    font-size: 21px;
    margin-top: 53px;
    margin-bottom: 65px;
  }

  .app__download {
    padding-bottom: 50px;
  }
}
