// btn-submit-form.scss

.button {

}

.btn-submit-form {

  font-size: 18px;
  font-weight: 700;
  padding: 20px 60px;
  color: $white-color;
  background-color: $btn-filter-color;
  border: 2px solid $btn-filter-color;
  border-radius: 2px;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
  background-color: $btn-filter-main;
  border: 2px solid $btn-filter-main;
  }

  &:active {
  color: $active-color;
  }

  &:disabled {
  color: $white-color;
  background-color: $btn-filter-disabled;
  border: 2px solid $btn-filter-disabled;
  }
}



@media (min-width: $mobile-width) {

}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
