.add-comment {
  border: none;
  margin: 0 auto;
}

.add-comment__title {
  @include style-description;
  text-align: center;
  padding: 40px 0 15px 0;
}

// Стилизация инпутов
.add-comment__input {
  min-height: 200px;
  @include input-form;
  @include placeholder-style;
  min-width: 240px;

  &:hover,
  &:focus {
    @include input-form-hover;
  }

  &:active {
    @include input-form-active;
  }
}

// @media (min-width: $mobile-width) {

// }

// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }
