.main-contacts {
  // background-color: $white-color;
  // margin-bottom: 292px;
  position: relative;
}

// накладываем блок поверх карты

.main-contacts__wraper {
  background-color: #ffffff;
  // z-index: 2;
  // position: relative;
}

.main-contacts__map {
  content: "";
  position: absolute;
  display: block;
  top: -432px;
  z-index: -1;
}

.main-contacts__headline {
  @include heading-style;
  text-align: center;
  color: $main-color;

  margin: 0;
  padding-top: 46px;
  padding-bottom: 31px;
}

.main-contacts__contact {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  background-color: white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    margin: 0 auto;

    min-width: 595px;
    height: 61px;

    bottom: -47px;
    left: -40%;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.main-contacts__item {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 18px;
  overflow: hidden;
}

.main-contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  margin: 0;
  color: $main-color;
}

.main-contacts__link {
  display: inline-block;

  margin: 0 auto;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  color: $color-element;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $main-color;
    // text-decoration: underline;
    border-bottom: 1px solid $main-color;
  }

  &:active {
    color: $main-color;
    opacity: 0.3;
    text-decoration: none;
    border-bottom: none;
  }
}

.map__mark {
  content: "";
  position: absolute;
  display: block;

  top: 1px;
}
// @media (min-width: $mobile-width) {

// }


// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }
