.main-contacts {
  background-color: $white-color;
  margin-bottom: 292px;
}

// накладываем блок поверх карты

// .main-contacts__wraper {
//   content: "";
//   position: absolute;

//   bottom: 0px;
//   left: 0px;
//   z-index: 10;
// }

.main-contacts__headline {
  @include heading-style;
  text-align: center;
  color: $main-color;

  margin: 0;
  padding-top: 50px;
  padding-bottom: 35px;
}

.main-contacts__contact {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  background-color: white;
}

.main-contacts__item {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.main-contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  margin: 0;
  color: $main-color;
}

.main-contacts__link {
  display: inline-block;

  margin: 0 auto;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  color: $color-element;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $main-color;
    // text-decoration: underline;
    border-bottom: 1px solid $main-color;
  }

  &:active {
    color: $main-color;
    opacity: 0.3;
    text-decoration: none;
    border-bottom: none;
  }
}

// @media (min-width: $mobile-width) {

// }


// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }
