.main-contacts {
  overflow: hidden;
  position: relative;
  height: 613px;
}

.main-contacts__content {
  @include mobile-size;
  background-color: #ffffff;
}

.main-contacts__wraper {
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.map__decor {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 2;
}

.main-contacts__map {
  width: 100%;
  height: 277px;
  overflow: hidden;
  content: "";
  position: relative;
  display: block;
  top: -122px;
}

.main-contacts__headline {
  @include heading-style;
  text-align: center;
  color: $main-color;

  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 30px;
}

.main-contacts__contact {
  list-style: none;
  margin: 0 auto;
  padding: 0 20px 20px;
  background-color: white;
}

.main-contacts__item {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
  overflow: hidden;
}

.main-contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  margin: 0;
  color: $main-color;
}

.main-contacts__link {
  display: inline-block;

  margin: 0 auto;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  color: $color-element;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $main-color;
    text-decoration: none;

    text-shadow:
      -1px -1px white,
      -1px 1px white,
      1px -1px white,
      1px 1px white;
    // border-bottom: 1px solid $main-color;
  }

  &:active {
    color: $main-color;
    opacity: 0.3;
    text-decoration: none;
    // border-bottom: none;
    box-shadow: none;
  }
}

.main-contacts__link--style {
  &:hover,
  &:focus {
    display: inline;
    background-size: 1px 1em;
    box-shadow:
      inset 0 -0.175em white,
      inset 0 -0.2em #000000;
  }

  &:active {
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-contacts {
    // @include tablet-size;
    height: 776px;

    // &::before {
    //   top: 45%;
    //   left: -38%;
    // }
  }

  .main-contacts__headline {
    @include heading-style-medium;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 39px;
  }

  .main-contacts__content {
    width: 660px;
  }

  .main-contacts__contact {
    width: 660px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 30px;
    height: 194px;
  }

  .main-contacts__wraper {
    margin: 0 auto;
  }

  .main-contacts__item {
    display: block;
    width: 290px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0 15px;

    &:nth-child(3) {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

  .main-contacts__map {
    height: 426px;
    top: -130px;
  }
}

@media (min-width: $desktop-width) {
  .main-contacts {
    // @include desktop-size;
    height: 867px;

    // &::before {
    //   top: 39%;
    //   left: 0;
    //   transform: scaleX(1.3);
    // }
  }

  .main-contacts__contact {
    width: auto;
    height: 110px;
    padding-bottom: 17px;
  }

  .main-contacts__content {
    width: 960px;
  }

  .main-contacts__wraper {
    width: 100%;
  }

  .main-contacts__headline {
    @include heading-style-large;
    width: 640px;
    padding-top: 60px;
    padding-bottom: 54px;
  }

  .main-contacts__item {
    padding: 0 15px;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      margin-top: 0;
    }
  }

  .main-contacts__title {
    padding-bottom: 20px;
  }

  .main-contacts__map {
    height: 530px;
    top: -144px;

    &::before {
      top: -1px;
      transform: scaleX(1.3);
      // height: 115px;
    }
  }

  .map__decor {
    top: -14px;
    transform: scaleY(0.8);
  }
}
