.data {
  @include mobile-size;
  margin: 0 20px 40px 20px;
  box-sizing: content-box;
}

.data__value {
  margin: 0;
  display: inline-block;

}

// лэйблы к инпутам

.data__info {
  @include style-description;
  display: inline-block;
  margin-left: 20px;
  // width: 210px;
}

// Стилизация инпутов

.data__input {
  @include input-form;
  @include placeholder-style;
  min-width: 240px;
  margin-bottom: 3px;

  &:hover,
  &:focus {
    @include input-form-hover;
  }

  &:active {
    @include input-form-active;
  }
}

@media (min-width: $tablet-width) {
  .data {
    @include tablet-size;
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    order: -9;
  }

  .data__info {
    padding: 0;
    padding-right: 24px;
  }

  .data__value {
    // padding-right: 0;
    // margin-bottom: 50px;
  }

  .data__input {
    box-sizing: content-box;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .data {
    // @include desktop-size;
    width: 440px;
    padding-right: 30px;
  }

  .data__info {
    // padding: 0;
    margin-left: 6px;
  }

  .data__value {
    width: inherit;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // box-sizing: content-box;

    padding-right: 0;
    margin-bottom: 0;
  }

  .data__input {
    box-sizing: content-box;
    flex-grow: 1;
  }
}
