.data {
  @include mobile-size;
  margin: 0 auto 40px;
  padding: 0 20px;
  box-sizing: border-box;
  order: -9;
}

.data__value {
  margin: 0;
  display: inline-block;
}

.data__info {
  @include style-description;
  display: inline-block;
  margin-left: 22px;
}

// Стилизация инпутов

.data__input {
  @include input-form;
  @include placeholder-style;
  width: 100%;
  margin-bottom: 3px;

  &:hover,
  &:focus {
    @include input-form-hover;
  }

  &:active {
    @include input-form-active;
  }
}

@media (min-width: $tablet-width) {
  .data {
    @include tablet-size;
    height: 297px;
    margin: 0 auto 46px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .data__value {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
  }

  .data__info {
    margin: 0;
    padding: 0;
    padding-right: 18px;
  }

  .data__input {
    box-sizing: border-box;
    flex-grow: 2;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .data {
    // @include desktop-size;
    width: 436px;
    min-height: 293px;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 45px;
  }

  .data__info {
    // padding: 0;
    // margin-left: 6px;
  }

  .data__value {
    width: inherit;
    display: flex;
    align-items: center;

    padding-right: 0;
    margin-bottom: 0;
  }

  .data__input {
    box-sizing: content-box;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
