.filter {
  background-color: $gray-color;
}

.filter__title {

}

.upload {

}

.upload__image {
  margin-bottom: 36px;
}

.filter__edit {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.edit__item {
  padding: 0 20px;
  cursor: pointer;
}

.edit__item path,
.edit__item rect {
  fill: $main-color;
  opacity: 0.3;
}

.edit__item:hover path,
.edit__item:hover rect,
.edit__item:focus path,
.edit__item:focus rect {
  fill: $main-color;
  opacity: 0.5;
}

.edit__item--active path,
.edit__item--active rect {
  fill: $color-element;
  opacity: 1;
}

.range {
  position: relative;
}

.range__scale {
  width: 240px;
  height: 2px;
  background:$main-color;
}

.range__bar {

}

.range__toggle {

}

// .app__btn-device {
//   color: $white-color;
//   font-weight: 700;
//   border: 2px solid #fff;
//   border-radius: 30px;
//   background: none;
//   padding: 13px;
//   margin-bottom: 25px;
// }

// .app__btn-device:hover,
// .app__btn-device:focus {
//   color: $color-element;
//   background: $white-color;
// }

// .app__btn-device:active {
//   color: $active-color-element;
//   background: $white-color;
// }


.btn-range {
  color: $color-element;
  font-weight: 700;
  font-size: 18px;
  width: 280px;
  padding: 15px 0;

  border: 3px solid $color-element;
  border-radius: 30px;
  background: none;
}


.btn-range:hover,
.btn-range:focus {

}

.btn-range:active {

}

.btn-range-cancel {

}

.btn-range-cancel:hover,
.btn-range-cancel:focus {

}

.btn-range-cancel:active {

}
