.main-footer {

}

.universal-title__different {
  font-weight: 300;
  font-size: 24px;
}

.main-footer__contact {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.title-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $main-color;
}

.main-footer__link {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  color: $color-element;

  cursor: pointer;
}

.main-footer__link:hover,
.main-footer__link:focus {
  color: $main-color;
  // text-decoration: underline;
  border-bottom: 1px solid $main-color;
}

.main-footer__link:active {
  color: $main-color;
  opacity: 0.3;
  text-decoration: none;
  border-bottom: none;
}

.modal-map {
  position: relative;
}

.modal-map::before {
  content: "";
  width: 320px;
  height: 123px;

  top: 0;

  position: absolute;
  background-image: url(../../img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
}
