.page-header {
  width: 100%;
  position: relative;
  background-color: $main-color-menu;
  z-index: 1;
  margin: 0 auto;
  box-sizing: border-box;
  // border-bottom: 1px solid black;
}

.page-header--bg-gray {
  background-color: $main-color;
}

.page-header__logo-desk,
.page-header__logo-tab {
  display: none;
}

.main-nav__toggle--open,
.main-nav__toggle--close {
  // display: none;
  padding: 0;
  margin-right: 20px;

  fill: $white-color;
  border: none;
  background: none;

  &:hover path,
  &:focus path {
    fill: $color-element;
  }

  &:active path {
    fill: $active-color-element;
  }
}

.page-header__logo {
  margin-left: 20px;
}


// Стилизация логотипа

.page-header__logo:hover .page-header__logo-color path,
.page-header__logo:focus .page-header__logo-color path,
.page-header__logo:hover .page-header__logo-decor path,
.page-header__logo:focus .page-header__logo-decor path {
  fill: $color-element;
}

.page-header__logo:active .page-header__logo-color path,
.page-header__logo:active .page-header__logo-decor path {
  opacity: 0.3;
}

.page-header__logo:active .page-header__logo-color path {
  fill: $white-color;
}

.page-header__logo:active .page-header__logo-decor path {
  fill: $color-element;
}


// убираем интерактивность логотипа На главной странице

.page-header__logo--disabled:hover .page-header__logo-color path,
.page-header__logo--disabled:focus .page-header__logo-color path,
.page-header__logo--disabled:active .page-header__logo-color path {
  fill: $white-color;
  opacity: 1;
}

// ... и его элемента

.page-header__logo--disabled:hover .page-header__logo-decor path,
.page-header__logo--disabled:focus .page-header__logo-decor path,
.page-header__logo--disabled:active .page-header__logo-decor path {
  fill: $color-element;
  opacity: 1;
}


.main-nav__toggle {
  right: 20px;
}

.main-nav__menu {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}

// .main-nav__wrapper ~ .main-nav__toggle--close {
//   display: none;
// }

.main-nav__list {
  display: block;
  margin: 0;
  padding: 0;
}

.main-nav__toggle--open,
.main-nav__toggle--close,
.main-nav__wrapper {
  display: none;
}

.show {
  display: block;
}

@media (min-width: $tablet-width) and (max-width: $width-for-gadget) {
  .page-header {
    width: 100%;
  }

  .page-header__logo-mob {
    display: none;
  }

  .page-header__logo-tab {
    display: block;
  }

  .main-nav__menu {
    width: 660px;
    // border-bottom: 1px solid black;
    padding-top: 29px;
    padding-bottom: 40px;
  }

  .main-nav__toggle--open,
  .main-nav__toggle--close {
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo {
    margin-left: 10px;
  }

  .page-header__logo-mob,
  .page-header__logo-tab {
    display: none;
  }

  .page-header__logo-desk {
    display: block;
  }

  .page-main {
    margin-top: -120px;
  }

  .main-nav__wrapper {
    display: block;
  }

  .main-nav {
    // @include desktop-size;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 23px;
    background-color: transparent;
  }

  .main-nav__container {
    width: 960px;
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-nav__menu {
    width: 200px;
    border-bottom: none;
    // padding-left: 20px;
    padding-top: 0;
    margin-left: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
