.page-header {
  @include mobile-size;
  background-color: $main-color;
  position: relative;
  z-index: 1;
}

.page-header__logo {
  &:hover path,
  &:focus path {
    fill: $color-element;
  }

  &:active path {
    fill: $active-color-element;
  }
}

.page-header__logo--desk,
.page-header__logo--tab {
  display: none;
}

.main-nav__toggle--open {
  display: none;
}

.main-nav__menu {
  display: flex;

  justify-content: flex-start;
  border-bottom: 1px solid black;
  padding: 20px;
}

.main-nav__menu--extra {
  padding-bottom: 26px;
}

.main-nav__menu-inner {
  width: 320px;
  display: flex;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) and (max-width: $width-for-gadget) {
  .page-header {
    @include tablet-size;
  }

  .page-header__logo--mob {
    display: none;
  }

  .page-header__logo--tab {
    display: block;
  }

  .main-nav__menu--extra {
    padding-bottom: 0;
  }

  .main-nav__menu {
    border-bottom: 1px solid black;
    padding: 29px 20px 40px;
  }


  .main-nav__menu-inner {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include desktop-size;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo--mob,
  .page-header__logo--tab {
    display: none;
  }

  .page-header__logo--desk {
    display: block;
  }

  .page-main {
    margin-top: -120px;
  }

  .main-nav {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 23px;
    background-color: transparent;
  }

  .main-nav__container {
    width: 980px;
    margin: 0 auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-nav__menu {
    width: 200px;
    border-bottom: none;
    padding-left: 20px;
    padding-top: 0;
  }

  .main-nav__menu-inner {
    width: 1200px;
  }
}
