.main-form {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $main-color;
}

.main-form__title {
  @include page-cover-text

  font-size: 14px;
  font-weight: 300;

  padding: 50px 20px 40px 20px;
}

// .data,
// .details-user,
// .add-comment {
//   &__input {
//     padding: 20px;
//     background-color: $white-color;
//     border: 2px solid #e5e5e5;
//     border-radius: 2px;

//     &:hover,
//     &:focus {
//       border-color: $main-color;
//       outline: none;
//     }

//     &:active {
//       border-color: $color-element;
//       outline: none;
//     }
//   }
// }

// .achievement__section,
// .details-user__wrapper,
// .application-platform,
// .add-comment {
//   border: none;
// }

// .details-user,
// .achievement,
// .platform {
//   &__list {
//     list-style: none;
//     margin: 0;
//     padding:0;
//   }
// }

// .data {

// }

// .data__value {

//   }

//   .data__last-name {
//   }

//   .data__last-name-top {
//   }

//   .data__first-name {
//   }

//   .data__first-name-top {
//   }

//   .data__patronym {
//   }

//   .data__patronym-top {
//   }

// .title-legend {

// }


// // .application-platform

// .platform {

//   // &__title
//   // &__list
//   &__item {
//     margin-bottom: 55px;
//     padding-left: 70px;

//     position: relative;
//     display: block;

//     cursor: pointer;
//     user-select: none;
//   }
//   &__radio {
//   }

//   &__input-radio {
//     content: "";
//     position: absolute;

//     width: 15px;
//     height: 15px;

//     border: 2px solid #e5e5e5;
//     border-radius: 50%;

//   }
// }


// .button

.main-form__btn {

  font-size: 18px;
  font-weight: 700;
  padding: 20px 60px;
  color: $white-color;
  background-color: $btn-filter-color;
  border: 2px solid $btn-filter-color;
  border-radius: 2px;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
  background-color: $btn-filter-main;
  border: 2px solid $btn-filter-main;
  }

  &:active {
  color: $active-color;
  }

  &:disabled {
  color: $white-color;
  background-color: $btn-filter-disabled;
  border: 2px solid $btn-filter-disabled;
  }
}

.lettering-select {
  color: $color-element;
}

.main-form__note {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}


// Пример стилизации чекбоксов с проекта Седона


// .filter-input {
//   opacity: 0;
// }

// .filter-input:hover label,
// .filter-input:focus label {
//   color: #ffffff;
// }


// .filter-input-checkbox + label::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: -40px;

//   width: 23px;
//   height: 23px;

//   background-image: url(../img/checkbox-off.svg);
//   background-repeat: no-repeat;
// }

// .filter-input-checkbox:checked + label::after {
//   content: "";
//   position: absolute;

//   top: 0;
//   left: -40px;

//   width: 27px;
//   height: 23px;

//   background-image: url(../img/checkbox-on.svg);
//   background-repeat: no-repeat;
// }

// .filter-input:focus + label::before {
//   outline: rgb(59, 153, 252) auto 3px;
//   outline-style: solid;
// }

// .filter-input-checkbox:disabled + .disable,
// .filter-input-checkbox:disabled + .disabled::before {
//   opacity: 0.3;
// }



@media (min-width: $mobile-width) {

}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
