.main-form {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  @include mobile-size;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $main-color;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-form__title {
  order: -10;
  @include page-cover-text;
  font-size: 14px;
  font-weight: 300;
  padding: 50px 20px 18px;
}

.main-form__title-addition {
  display: none;
}

// .main-form__submit-btn {

// }

.main-form__btn {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 46px;
  margin-left: 20px;

  background-color: $btn-filter-color;
  border: 2px solid $btn-filter-color;
  border-radius: 2px;

  color: $white-color;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    background-color: $btn-filter-main;
    border: 2px solid $btn-filter-main;
  }

  &:active {
    color: $active-color;
  }

  &:disabled {
    color: $white-color;
    background-color: $btn-filter-disabled;
    border: 2px solid $btn-filter-disabled;
  }
}

.main-form__lettering-select {
  color: $color-element;
}

.main-form__note {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 34px 0 15px;
}


@media (min-width: $tablet-width) {
  .main-form {
    @include tablet-size;
    align-content: center;
    justify-content: space-between;
  }

  .main-form__title {
    font-size: 18px;

    padding: 91px 40px 71px;
    margin: 0 40px auto;
  }

  .main-form__title-addition {
    display: inline-block;
  }

  .main-form__wrapper-submit-btn {
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  .main-form__btn {
    padding: 20px 55px;
    margin: 0;
  }

  .main-form__note {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-form {
    width: 960px;
    padding-left: 15px;
    padding-right: 5px;
    justify-content: space-between;
  }

  .main-form__title {
    padding-bottom: 62px;
    // margin: 0 150px auto;
  }

  // .main-form__wrapper-submit-btn {
  //   width: 100%;
  //   margin: 0 20px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 48px;
  // }

  // .main-form__btn {
  //   padding: 20px 55px;
  //   margin: 0;
  // }

  // .main-form__note {
  //   padding: 0;
  // }
}
