.page-cover {
  width: 100%;
  min-height: 170px;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;

  color: white;
  background-color: $main-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-cover__title {
  @include heading-style;
  text-align: center;
  padding: 35px 40px;
  margin: 0 auto;
}


// @media (min-width: $mobile-width) {

// }


@media (min-width: $tablet-width) {
  .page-cover {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center center;
  }

  .page-cover__title {
    @include heading-style-medium;
    padding: 35px 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-cover {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-cover__title {
    @include heading-style-large;
    margin: 0 auto;
    padding: 180px 0 100px 0;
  }
}
