.page-cover {
  width: 100%;
  min-height: 235px;

  margin: 0;
  padding: 0;

  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-color: $main-color;
  color: white;
  background-repeat: no-repeat;
}

.page-cover__title {
  text-align: center;
  padding: 100px 40px;

  line-height: 30px;
}

.page-cover__text {
  text-align: center;
  line-height: 30px;
}
