.feedback__toggles,
.price__toggles {
  display: flex;
}

.slider__toggle {
  margin: 10px;
  opacity: 0.3;
  width: 4px;
  height: 4px;

  background: $main-color;
  vertical-align: middle;
  text-decoration: none;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
  color: $main-color;
  opacity: 1;
  }

  &:active {
  opacity: 0.1;
  }
}

// .slider__toggle

.slider__toggle--active {
  position: relative;
  opacity: 1;
  background: $white-color;

  &:hover,
  &:focus {
  background: $main-color;
  }

  &:active {
  opacity: 0.1;
  }

}


// .slider__toggle--active
// .slider__toggle--active::before {
//   content: "";
//   position: absolute;

//   width: 15px;
//   height: 15px;
//   top: -5px;
//   left: -5px;
//   z-index: -1;

//   background: $main-color;
//   border-radius: 50%;
// }
