// .feedback,
// .price {
//   &__toggles {
//     display: flex;
//     list-style: none;
//     align-items: center;
//   }
// }

.slider {
  // width: 65px;
  box-sizing: border-box;
}

.slider__toggle {
  margin: 0 auto;
  margin-top: 30px;
  padding: 2px;
  margin-bottom: 40px;

  opacity: 0.3;
  width: 4px;
  height: 4px;

  background: $main-color;
  vertical-align: middle;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $main-color;
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }

  &--active {
    width: 6px;
    height: 6px;

    background: $white-color;
    border: 3px solid $main-color;
    opacity: 1;
  }
}

// @media (min-width: $mobile-width) {

// }

// @media (min-width: $tablet-width) {
//   .slider__toggle {
//     margin: 0 auto;
//     margin-top: 35px;
//   }
// }

@media (min-width: $desktop-width) {
  .slider__toggle {
    display: none;
  }
}
