.price {
  position: relative;
  margin: 0;
  padding: 90px 0;
  // padding-top: 90px;

  list-style: none;
  background-color: $gray-color;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    margin: 0 auto;

    width: 1200px;
    height: 94px;

    bottom: -50px;
    left: 0px;

    background-image: url(../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
    transform: rotate(90leg);
  }
}

.price__heading {
  @include visually-hidden
}


.price__section {
  border: 2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
}

.price__item {
  display: flex;
  background: $main-color;
}

.price__mark,
.price__title,
.price__cost {
  color: $white-color;
  font-weight: 300;

  text-transform: uppercase;
}

.price__description {
  display: block;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 22px;
}

.price__mark {
  margin: 0;
  padding-left: 25px;

  font-size: 14px;
  position: relative;

  width: 74px;
  height: 73px;
  transform: rotate(-45deg);

  &::before {
    content: "";
    position: absolute;

    width: 74px;
    height: 73px;

    top: -10px;
    right: 22px;

    background-image: url(../../img/bg-hit.svg);
    background-repeat: no-repeat;

    transform: rotate(45deg);
    z-index: -1;
  }
}

.price__title {
  font-size: 18px;
  font-weight: 700;
}

.price__cost {
  font-size: 24px;
  margin: 0;
}

.price__toggles {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  // margin-bottom: 30px;
}


.price__list-field {
}

.price__list-option {
  display: flex;
  justify-content: space-between;
  background-color: $white-color;

  padding: 3px 20px;
  border-bottom: 2px solid #e5e5e5;
}

// .price-list__option-yes::before {
//   content: "";
//   position: absolute;
//   display: block;

//   width: 31px;
//   height: 21px;

//   bottom: 10px;
//   right: 10px;

//   background-image: url(../../img/icon-yes.svg);
//   background-repeat: no-repeat;
// }

// .price-list__option-no::after {
//   content: "";
//   position: absolute;
//   display: block;

//   width: 27px;
//   height: 26px;

//   bottom: 10px;
//   right: 10px;

//   background-image: url(../../img/icon-no.svg);
//   background-repeat: no-repeat;
// }




@media (min-width: $mobile-width) {

}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
