// стиль подписи к блокам формы label / legend
@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  // white-space: nowrap;
  // box-sizing: border-box;

  // -webkit-clip-path: inset(100%);
  //     clip-path: inset(100%);
  overflow: hidden;
}

@mixin mobile-size {
  width: 320px;
  margin: 0 auto;
  // box-sizing: border-box;
}

@mixin tablet-size {
  width: 660px;
  margin: 0 auto;
}

@mixin desktop-size {
  width: 1200px;
  // width: 960px;
  margin: 0 auto;
}

//Общий стиль заголовков
@mixin heading-style {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  // margin: 0;
  padding: 0;
}

//Заголовки для планшета
@mixin heading-style-medium {
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  // margin: 0;
  padding: 0;
}

//Заголовки для декстопа
@mixin heading-style-large {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  // margin: 0;
  padding: 0;
}

// Стиль описания
@mixin caption-style {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;

  padding: 0;
  margin: 0;
}

@mixin caption-style-medium {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

@mixin caption-style-large {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}

// Единый стиль написания заголовков на обложках внутр. страниц
@mixin page-cover-text {
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: 0;
  padding: 47px 0 45px 0;
  color: $main-color;
}

@mixin page-cover-text-medium {
  display: block;
  font-size: 40px;
  max-width: 740px;
  line-height: auto;
}

@mixin page-cover-text-large {
  display: block;
  font-size: 50px;
  max-width: 740px;
  line-height: auto;

  padding: 180px 0 100px 0;
}

// стиль подписи к блокам формы label / legend
@mixin style-description {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  padding: 20px 0 10px 0;
  text-transform: uppercase;
  color: $color-element;
  letter-spacing: 0.3px;
}

// // стиль полей для ввода
@mixin input-form {
  padding: 20px;
  background-color: $white-color;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:-ms-input-placeholder {
    padding-top: 15px;
  }/* IE */
}

@mixin input-form-hover {
  border-color: $main-color;
  outline: none;
}

@mixin input-form-active {
  border-color: $color-element;
  outline: none;
}

// стиль шрифта для плейсхолдера
@mixin placeholder-style {
  &::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
    line-height: 30px;
  }/* webkit */

  &::-moz-placeholder {
    color: #000000;
    opacity: 1;
    line-height: inherit;
  }/* Firefox 19+ */

  &:-moz-placeholder {
    color: #000000;
    opacity: 1;
    line-height: inherit;
  }/* Firefox 18- */

  &:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
    line-height: 30px;
  }/* IE */
}


// стиль рамок для fieldset

@mixin style-border-fieldset {
  border: 2px solid $color-border-fieldset;
}

@mixin style-title-legend {
  padding: 10px 30px 10px;
}


// Стили для всплывающих окон

@mixin style-popup-headline {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 30px;
}

@mixin style-popup-headline-medium {
  font-size: 30px;
  line-height: 40px;
}

@mixin style-popup-description {
  font-size: 14px;
  line-height: 24px;
  color: $main-color;
  margin: 0 auto;
  // margin-bottom: 40px;
}

@mixin style-popup-description-medium {
  font-size: 18px;
}

// Стили для (зеленых) кнопок на странице с формой

@mixin style-btn-form {

  font-size: 18px;
  font-weight: 700;
  padding: 20px 60px;
  color: $white-color;
  background-color: $btn-filter-color;
  border: 2px solid $btn-filter-color;
  border-radius: 2px;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    background-color: $btn-filter-main;
    border: 2px solid $btn-filter-main;
  }

  &:active {
    color: $active-color;
  }

  &:disabled {
    color: $white-color;
    background-color: $btn-filter-disabled;
    border: 2px solid $btn-filter-disabled;
  }
}
