
// Назначение цвета на сайте

$main-color: rgb(40, 54, 69);
$main-color-element: rgba(40, 54, 69, 0.1);
$main-color-underlay: rgba(40, 54, 69, 0.3);
$main-color-menu: rgba(0, 0, 0, 0.3);

$color-element: rgb(210, 40, 86);
$active-color-element: rgba(210, 40, 86, 0.3);

$gray-color: rgb(242, 242, 242);

$white-color: rgb(255, 255, 255);
$active-color: rgba(255, 255, 255, 0.3);

$btn-filter-color: #2aab6d;
$btn-filter-main: #1c9b5e;
$btn-filter-disabled: #e5e5e5;

$color-border-fieldset: #e5e5e5;

$color-title-addvantages: #000000;

// Переменные разрешений версий экрана

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$width-for-gadget: 959px;
$width-only-for-mobile: 559px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
