.filter {
  background-color: red;
}

.filter__title {

}

.upload {

}

.upload__image {

}

.filter__edit  {
  display: flex;
  list-style: none;
}

.edit__item {
  fill: $main-color;
  cursor: pointer;
}

.edit__item:hover,
.edit__item:focus {
  fill: $color-element;
}

.edit__item {
  fill: $color-element;
}

.edit__item--active {
  fill: $color-element;
}
